.idea
sgt-todo-app/node_modules
sgt-todo-app/.idea

boilerplate-v1/node_modules
boilerplate-v1/.idea

expenses-app/node_modules
expenses-app/.idea

portfolio/node_modules
portfolio/.idea

playgroundGernEdit/node_modules
playgroundGernEdit/.idea

portfolio