.login-form {
  display: flex;
  flex-direction: column;
}

.login-form__item {
  display: flex;
  justify-content: flex-end;
  margin: $s-size;
}

.login-form__item > label{
  flex: 1;
  padding: .5rem 1rem .5rem 0;
  text-align: right;
}
.login-form__item > input{
  flex: 2;
}

.login-form__item > input::placeholder{
  padding-left: $s-size;
  font-style: italic;
}

.login-form__btn {
  background-color: $red;
  border-radius: 5px;
  color: $gold;
  font-size: 2.6rem;
  margin-top: $m-size;
  padding: $s-size;
}

.login-error {
  color: $red;
}