.search-term-form {
  background: $red;
  max-width: 20rem;
  margin: $s-size 0 0 20rem;
  padding: $s-size;
  //display: flex;
}

.search-term-form__input {
  outline: none;
}

.search-term-form__case-check {

}

.search-term-form__case-check-label {
  //margin-right: auto;
}

.search-term-form__submit {

}