
// Colors
$red: #A71D36;
$gold: #B4A16C;
$grey: #32414A;
$light-grey: #DEE5E9;
$light-gold: #F0EDE2;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;