// add option error
.add-option-error{
  color: $red;
  font-style: italic;
  padding: 0 $m-size;
  margin: $m-size 0 0 0;
}

.add-option {
  display: flex;
  padding: $m-size;
  flex-direction: column;
}


.add-option__input {
  background: $light-grey;
  border: none;
  border-bottom: 0.3rem solid lighten($grey, 30%);
  color: $grey;
  flex-grow: 1; //grow to take upt the available space
  //margin-right: $s-size;
  margin: 0 0 $s-size 0;
  padding: $s-size;
}
.add-option__input:focus {
  outline: 0;
}

@media (min-width: $desktop-breakpoint) {
  .add-option {
    flex-direction: row;
  }

  .add-option__input {
    margin: 0 $s-size 0 0;
  }

}