
.header {
  background: $red;
  color: $gold;
  padding: $m-size $xl-size;
  text-align: center;
  margin-bottom: $m-size;
}

// BEM - block element modifier
//.block__element--modifier

.header__title {
  color: white;
  font-size: $l-size;
  margin: 0;
  padding-top: $m-size;
}

.header__subtitle {
  font-size: $m-size;
  font-weight: 500;
  margin: 0;
  padding-bottom: $m-size;
}